.wrapper {
    margin-top: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.text {
    text-align: center;
}